# Virtual environment
.venv/
venv/
env/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Django
*.sqlite3
db.sqlite3
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Environment variables
.env
*.env
